#explorerdetails {
	position:absolute;
	left:32%;
	width:68%;
	z-index: 1000;
}

#explorerdetails_table {
	position:absolute;
	width: 100%;
}

.explorerdetailssave {
	visibility: hidden;
}


#exploredummybutton {
	opacity:0;
}


.explorerpropertydelete {
	opacity:0;
}

.explorerpropertydelete:hover {
	opacity:1;
}

