#explorer {
	position:absolute;
	left:10%;
	top:200px;
	bottom:80px;
	width:80%;
	z-index: 1000;
}

#explorer_path {
	width:100%;
	text-align: left;
}

#explorer_list {
	position:absolute;
	width: 30%;
}

.explorersubmit:hover {
 	background-color: #888888;
}

.explorerpathsubmit {
	display: inline-block;
}

.explorerpathsubmit:hover {
 	text-decoration: underline;
}

