<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#dashboard">
		<template>dashboard/dashboard.mst</template>
		<controller id="DashboardController">
		</controller>
	</view>

	<view id="#login">
		<template>login/login.mst</template>
		<controller id="LoginController">
		</controller>
	</view>
	
	
	<view id="#debugger">
		<template>dashboard/debugger/debugger.mst</template>
		<controller id="DebuggerController">
		</controller>
	</view>
	
	<view id="#openapps">
		<template>dashboard/openapps/openapps.mst</template>
		<controller id="OpenAppsController">
		</controller>
	</view>
	
	<view id="#services">
		<template>dashboard/services/services.mst</template>
		<controller id="ServicesController">
		</controller>
	</view>
	
	
	<view id="#servicesdetails">
		<template>dashboard/services/servicesdetails/servicesdetails.mst</template>
		<controller id="ServicesDetailsController">
		</controller>
	</view>
	
	<view id="#explorer">
		<template>dashboard/explorer/explorer.mst</template>
		<controller id="ExplorerController">
		</controller>
	</view>
	
	<view id="#explorerdetails">
		<template>dashboard/explorer/explorerdetails/explorerdetails.mst</template>
		<controller id="ExplorerDetailsController">
		</controller>
	</view>
	
	<view id="#usermanagement">
		<template>dashboard/usermanagement/usermanagement.mst</template>
		<controller id="UserManagementController">
		</controller>
	</view>
	
	<view id="#performancemanagement">
		<template>dashboard/performancemanagement/performancemanagement.mst</template>
		<controller id="PerformanceManagementController">
		</controller>
	</view>
	
	<view id="#usermanagementdetails">
		<template>dashboard/usermanagement/usermanagementdetails/usermanagementdetails.mst</template>
		<controller id="UserManagementDetailsController">
		</controller>
	</view>
	
	<view id="#memorymanagement">
		<template>dashboard/memorymanagement/memorymanagement.mst</template>
		<controller id="MemoryManagementController">
		</controller>
	</view>
	
	<view id="#fsbinds">
		<template>dashboard/memorymanagement/fsbinds/fsbinds.mst</template>
		<controller id="FsBindsController">
		</controller>
	</view>
	
	<view id="#availapps">
		<template>dashboard/availapps/availapps.mst</template>
		<controller id="AvailableAppsController">
		</controller>
	</view>
	
	<view id="#appdetails">
		<template>dashboard/availapps/appdetails/appdetails.mst</template>
		<controller id="AppDetailsController">
		</controller>
	</view>
	

	
</app>