<app>
	<view id="#screen">
		<template>screen.mst</template>
		<controller id="ScreenController">
		</controller>
	</view>
	
	<view id="#dashboard">
		<template>dashboard/dashboard.mst</template>
		<controller id="DashboardController">
		</controller>
	</view>

	<view id="#login">
		<template>login/login.mst</template>
		<controller id="LoginController">
		</controller>
	</view>
	
	
	<view id="#debugger">
		<template>dashboard/debugger/debugger.mst</template>
		<controller id="DebuggerController">
		</controller>
	</view>
	
	<view id="#openapps">
		<template>dashboard/openapps/openapps.mst</template>
		<controller id="OpenAppsController">
		</controller>
	</view>
	
	<view id="#memorymanagement">
		<template>dashboard/memorymanagement/memorymanagement.mst</template>
		<controller id="MemoryManagementController">
		</controller>
	</view>
	
	<view id="#fsbinds">
		<template>dashboard/memorymanagement/fsbinds/fsbinds.mst</template>
		<controller id="FsBindsController">
		</controller>
	</view>
	
	<view id="#availapps">
		<template>dashboard/availapps/availapps.mst</template>
		<controller id="AvailableAppsController">
		</controller>
	</view>
	
	<view id="#appdetails">
		<template>dashboard/availapps/appdetails/appdetails.mst</template>
		<controller id="AppDetailsController">
		</controller>
	</view>
	
</app>