#usermanagementdetails {
	position:absolute;
	left:15%;
	top:0px;
	bottom:80px;
	width:60%;
	z-index: 1000;
}

#usermanagementdetails_table {
	position:absolute;
	width: 100%;
}

.usermanagementdetailssave {
	visibility: hidden;
}